:root {
  --color-white: #ffffff;
  --color-text: #000000;
  --color-red: rgb(203, 56, 55);
  --color-grey: rgb(239, 239, 239);
  --color-hover-grey: rgb(143, 142, 142);
  --color-hover-white: rgba(255, 255, 255, 0.568);
  --color-btn-signup: rgb(240, 146, 51);
  --color-btn-orgs: rgb(203, 56, 55);
  --color-btn-install: rgb(37, 53, 68);
  --color-features-links: rgb(203, 56, 55);
  --default-font-size: 1.8rem;
  --h3-font-size: 2.1rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.7em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-text); }

.search {
  flex: 1; }
  .search__input {
    border: none;
    background-color: var(--color-grey);
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    width: 95%;
    margin-left: 5%; }

.login {
  flex: 0 0 14%;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end; }

.btn-container {
  display: flex;
  justify-content: center; }

.btn:link, .btn:active {
  text-decoration: none;
  border-radius: 2.5rem;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  transition: all 0.3s; }

.btn:hover {
  transform: translateY(-0.5rem); }

.btn--signup {
  margin: 0 12rem 0 7rem;
  color: var(--color-white);
  background-color: var(--color-btn-signup); }

.btn--orgs {
  margin: 0 10rem 0 9rem;
  color: var(--color-white);
  background-color: var(--color-btn-orgs); }

.btn--install {
  margin: 0 12rem 0 7rem;
  color: var(--color-white);
  background-color: var(--color-btn-install); }

.section__features {
  height: 95vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section__features--main-header {
    text-align: center; }
    .section__features--main-header h2 {
      font-size: 5rem;
      font-weight: 300;
      color: var(--color-text);
      line-height: 1.2; }
    .section__features--main-header p {
      font-size: 2rem; }
  .section__features--list {
    display: flex;
    justify-content: space-evenly; }
    .section__features--list p {
      font-size: var(--default-font-size);
      font-weight: 400;
      text-align: center; }
    .section__features--list-item {
      width: 26%; }
  .section__features--heading {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: var(--h3-font-size); }
  .section__features--img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    .section__features--img img {
      width: 12rem; }
  .section__features a:link, .section__features a:active, .section__features a:visited {
    color: var(--color-features-links);
    text-decoration: none;
    font-weight: bold; }

.navbar a:link,
.navbar a:visited,
.header a:link,
.header a:visited {
  color: inherit;
  text-decoration: none; }

.navbar {
  background-color: var(--color-red);
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0.5rem 0; }
  .navbar__content {
    display: flex;
    justify-content: space-between; }
  .navbar__acronym--heart {
    padding-right: 1rem;
    margin-right: 1rem;
    border-right: rgba(255, 255, 255, 0.2) 1px solid; }
  .navbar__links {
    flex: 1; }
    .navbar__links ul {
      display: flex;
      justify-content: flex-end;
      list-style: none; }
      .navbar__links ul li:not(:last-child) {
        padding-right: 1.5rem; }
  .navbar a:hover {
    color: var(--color-hover-white); }

.header {
  font-size: 2rem;
  background-color: white; }
  .header a:hover {
    color: var(--color-hover-grey); }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0; }
  .header__logo {
    display: flex;
    flex: 0 0 10rem; }
    .header__logo--img {
      width: 100%; }

.section__info {
  height: 90vh; }
  .section__info h2 {
    font-size: 5rem;
    font-weight: 300;
    color: var(--color-white);
    line-height: 1.2; }
  .section__info p,
  .section__info li {
    font-size: 2.3rem;
    color: var(--color-white); }
  .section__info--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 68.7em) {
      .section__info--content {
        height: 75vh; } }
    .section__info--content-about {
      height: 85%; }
  .section__info--text {
    flex: 0 0 52%; }
    .section__info--text-install {
      flex: 0 0 45%; }
  .section__info--img {
    flex: 0 0 40rem; }
    .section__info--img* {
      width: 90%; }
  .section__info--about {
    background-size: cover;
    background-position: center;
    background-image: url(../images/city-scape.svg); }
  .section__info--orgs {
    background-color: #273547; }
    .section__info--orgs ul {
      line-height: 1.7;
      margin-left: 2.5rem; }
  .section__info--learn-more {
    margin: 0 10rem 0 9rem;
    text-align: center; }
    .section__info--learn-more :visited,
    .section__info--learn-more :link {
      text-decoration: none;
      color: var(--color-white);
      font-weight: bold; }
    .section__info--learn-more :hover {
      text-decoration: underline; }
  .section__info--install {
    background-size: cover;
    background-position: center;
    background-image: url(../images/forklift.svg); }

.u-width-huge {
  max-width: 100rem; }

.u-centered {
  margin: 0 auto; }

.u-margin-bottom-s {
  margin-bottom: 2rem; }

.u-margin-bottom-m {
  margin-bottom: 4rem; }

.u-margin-bottom-l {
  margin-bottom: 6rem; }
