:root{
    --color-white: #ffffff;
    --color-text: #000000;
    --color-red: rgb(203, 56, 55);
    --color-grey: rgb(239, 239, 239);
    --color-hover-grey: rgb(143, 142, 142);
    --color-hover-white: rgba(255, 255, 255, 0.568);
    --color-btn-signup: rgb(240, 146, 51);
    --color-btn-orgs: rgb(203, 56, 55);
    --color-btn-install: rgb(37, 53, 68);
    --color-features-links: rgb(203, 56, 55);

    --default-font-size: 1.8rem;
    --h3-font-size: 2.1rem;
}

///SASS VARIABLES

$bp-largest: 81.25em; //1300px
$bp-large: 68.7em; //1100px
$bp-medium: 62em; //982px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
    
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-text);
}