.search {
  &__input {
    border: none;
    background-color: var(--color-grey);
    font-family: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    border-radius: 4px;
    width: 95%;
    margin-left: 5%;
  }
  flex: 1;
}

.login {
  flex: 0 0 14%;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.btn {
  &-container {
    display: flex;
    justify-content: center;
  }

  &:link,
  &:active {
    text-decoration: none;
    border-radius: 2.5rem;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    transition: all 0.3s;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
  
  &--signup {
    margin: 0 12rem 0 7rem;
    color: var(--color-white);
    background-color: var(--color-btn-signup);
  }
  &--orgs {
    margin: 0 10rem 0 9rem;
    color: var(--color-white);
    background-color: var(--color-btn-orgs);
  }
  &--install {
    margin: 0 12rem 0 7rem;
    color: var(--color-white);
    background-color: var(--color-btn-install);
  }
}
