.section__features {
  height: 95vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  &--main-header {
    text-align: center;

    h2 {
      font-size: 5rem;
      font-weight: 300;
      color: var(--color-text);
      line-height: 1.2;
    }

    p {
      font-size: 2rem;
    }
  }

  &--list {
    display: flex;
    justify-content: space-evenly;

    p {
      font-size: var(--default-font-size);
      font-weight: 400;
      text-align: center;
    }

    &-item {
      width: 26%;
    }
  }

  &--heading {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: var(--h3-font-size);
  }

  &--img {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    img {
      width: 12rem;
    }
  }

  a {
    &:link,
    &:active,
    &:visited {
      color: var(--color-features-links);
      text-decoration: none;
      font-weight: bold;
    }
  }
}
