.navbar,
.header {
  a:link,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
}

.navbar {
  background-color: var(--color-red);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  letter-spacing: 1px;
  padding: 0.5rem 0;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__acronym {
    &--heart {
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: rgba(255, 255, 255, 0.2) 1px solid;
    }
  }

  &__links {
    flex: 1;
    ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;

      li {
        &:not(:last-child) {
          padding-right: 1.5rem;
        }
      }
    }
  }

  a:hover {
    color: var(--color-hover-white);
  }
}

.header {
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  a:hover {
    color: var(--color-hover-grey);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  &__logo {
    display: flex;
    flex: 0 0 10rem;

    &--img {
      width: 100%;
    }
  }
}

.section {
  &__info {
    height: 90vh;

    h2 {
      font-size: 5rem;
      font-weight: 300;
      color: var(--color-white);
      line-height: 1.2;
    }

    p,
    li {
      font-size: 2.3rem;
      color: var(--color-white);
    }

    &--content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      @media only screen and (max-width: $bp-large) {
        height: 75vh;
      }

      &-about {
        height: 85%;  
      }
    }

    &--text {
      flex: 0 0 52%;
      &-install {
        flex: 0 0 45%;
      }
    }

    &--img {
      flex: 0 0 40rem;
      &* {
        width: 90%;
      }
    }

    &--about {
      background-size: cover;
      background-position: center;
      background-image: url(../images/city-scape.svg);
    }

    &--orgs {
      background-color: rgb(39, 53, 71);

      ul {
        line-height: 1.7;
        margin-left: 2.5rem;
      }
    }

    &--learn-more {
      margin: 0 10rem 0 9rem;

      :visited,
      :link {
        text-decoration: none;
        color: var(--color-white);
        font-weight: bold;
      }

      :hover {
        text-decoration: underline;
      }

      text-align: center;
    }

    &--install {
      background-size: cover;
      background-position: center;
      background-image: url(../images/forklift.svg);
    }
  }
}
